 *{
    text-align: center;
    background-color: #d1d0cb;
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: center;
    width: 35rem;
    gap: 1rem;
}

section div{
    height: 14rem;
    width: 14rem;
    border-radius: 20%;
    border: 8px solid black;
    cursor: pointer;
}

.red {
    background-color: #d95980;
}

.blue{
    background-color: #63aac0;
}

.yellow{
    background-color: #f99b45;
}

.purple{
    background-color: #819ff9;
}

.darken{
    filter: brightness(60%);
}

.btn {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.startBtn{
    background-color: antiquewhite;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 0rem 3rem;
    margin: 3rem 0 1rem 0;
    color: black;
    opacity: 0;
}

.startBtn:active{
    background-color: rgb(176, 165, 150);
}

.opacity{
    display: none;
}

.score{
    padding: 0rem 2rem;
}
