 *{
    text-align: center;
    background-color: #d1d0cb;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

*:focus{
    outline: none;
    box-shadow: none;
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: center;
    width: 35rem;
    gap: 1rem;
}

section div{
    height: 14rem;
    width: 14rem;
    border-radius: 20%;
    border: 8px solid black;
    cursor: pointer;
}

.red {
    background-color: #d95980;
}

.blue{
    background-color: #63aac0;
}

.yellow{
    background-color: #f99b45;
}

.purple{
    background-color: #819ff9;
}

.darken{
    filter: brightness(60%);
}

.btn {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.startBtn{
    background-color: antiquewhite;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 0rem 3rem;
    margin: 3rem 0 1rem 0;
    color: black;
    opacity: 0;
}

.startBtn:active{
    background-color: rgb(176, 165, 150);
}

.opacity{
    display: none;
}

.score{
    padding: 0rem 2rem;
}

.shake {
  animation: shake 0.5s;
}

header{
    display: flex;
    justify-self: center;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 80%;
    flex-wrap: wrap;
}

.rules{
    display: flex;
    gap: 0.1rem;
    align-items: center;
    font-size: 1rem;
    background-color: #dad9d0;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    height: max-content;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0rem 0.1rem 0.3rem #0000003f;
}

.rules:active{
    background-color: #b7b7ad;
}

.rules i {
    font-size: 1rem;
    padding: 0;
    background-color: transparent;
}

.info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -500%);
    background-color: #dad9d0;
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: 0rem 0.1rem 5rem #000000af;
}

.slide-down{
    animation: 1s 1 normal slideDown;
}

.slide-up{
    animation: 2s 1 normal slideUp;
}

.info h4, .info p, .info ul, .info > ul > li{
    font-size: 1.7rem;
    background-color: #dad9d0;
    text-align: left;
}

.hidden{
    display: none;
}