
@media (max-width: 500px) {
    section{
        width: 20rem;
        margin: 2rem 0;
    }

    section div{
        height: 7rem;
        width: 7rem;
    }

    .startBtn{
        opacity: 1;
    }

    .restart{
      display: none;
    }

    .info{
      padding: 0.5rem 1rem;
      width: 80%;
    }

    .info h4, .info p, .info ul, .info > ul > li{
      font-size: 1rem;
    }
}

@keyframes shake {
  0% { transform: translate(0px, 0px); }
  20% { transform: translate(-5px, 0px); }
  40% { transform: translate(5px, 0px); }
  60% { transform: translate(-5px, 0px); }
  80% { transform: translate(5px, 0px); }
  100% { transform: translate(0px, 0px); }
}

@keyframes slideDown {
  from{
    transform: translate(-50%, -500%);
  } to {
    transform: translate(-50%, -50%);
  }
}

@keyframes slideUp {
  from{
    transform: translate(-50%, -50%);
  } to {
    transform: translate(-50%, -500%);
  }
}
